:root {
    --logo-color:#4D5AE5;
    --color-of-head-menu:#2E2F42;
    --color-of-contact-paragraf:#434455;
    --color-hero:#FFFFFF;
    --color-hover-focus-btn-footer:#F4F4FD;
    --btn-bc:#4D5AE5;
    --link-btn-bc-hover-focus:#404BBF;
   --btn-bc-nav-work:#E7E9FC;
   --btn-color-menu:#F4F4FD;
   --color-footer-paragraf:#E7E9FC;
   --footer-logo:#F4F4FD;
   /* fonts */
   --logo-font:Raleway,sans-serif;
   --text-font:Roboto ,sans-serif;
}
/* Глобальний border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    font-family:var(--text-font);
    font-size: 16px;
    letter-spacing: 0.02em;
    color:var(--color-of-contact-paragraf);
    background-color: var(--color-hero);
}
.page-header{
    border-bottom: 4px solid #E7E9FC;
}
/* for head */
.container{
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
    
}
/* reset ul */
.nav-menu{

    display: flex;
    list-style: none;
    margin: 0;
    padding-left:76px;

}
.nav-contact{
    display: flex;
    list-style: none;
    margin-left: auto;
    padding-left:0;
}
.main-li+.main-li{
    margin-left: 40px;
    
}
/* logo */
.logo{

    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;


    color: var(--color-of-head-menu);
    text-decoration:none;
    text-transform: uppercase;
}
.color-logo{
color: var(--logo-color);
}
.logo:hover,.logo:focus{
    color: var(--link-btn-bc-hover-focus);
    text-decoration:none;
}
/*  */
.main-menu{
    display: block;
    padding-top:24px;
    padding-bottom:24px;


    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration:none;
    color: var(--color-of-head-menu);
    
}
.main-menu:hover,.main-menu:focus{
    
    color: var(--link-btn-bc-hover-focus);
    text-decoration:none;
}
.container-nav{
    display: flex;
    align-items: center;
}
/* contact us */
.my-inofo{
    display: block;
    color: var(--color-of-contact-paragraf);
    text-decoration: none;
}
.info-li+.info-li{
    
    margin-left: 40px;
}
.my-inofo:hover,.my-inofo:focus{
    color: var(--link-btn-bc-hover-focus);
}
/* клас для підсвідки сторінки активної */
.curent{
    color: var(--btn-bc);
}
.container{
    display: flex;
    align-items: baseline;
}
/* hero paga */
.hero{
    display: block;
    background-color: var(--color-of-head-menu);
    text-align: center;
    padding-top: 188px;
}
.hero-head{
    display: flex;
    flex-wrap: wrap;
    width: 498px;
    padding-bottom: 48px;
    margin: auto;
    letter-spacing: 0.02em;
    

   
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;
}
.hero-button{
    margin-bottom: 180px;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;;

    font-family: var(--logo-font);
    letter-spacing: 0.04em;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-hero);
    background: var(--btn-bc);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.hero-button:hover{
    background-color: var(--link-btn-bc-hover-focus);
}
/* скрити елемент */
.about{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* about-company */
.my-company{
    margin-top: 120px;
}
.company{
    display: flex;
    width: 1128px;
    margin: auto;
    padding: 0;
    
}
.about-company{
    display: flex;
    width: calc((100%-72px)/4);
    flex-wrap: wrap;

 
}
.about-company+.about-company{
    margin-left: 24px;
}
.about-company>h3{
    margin: 0;
    padding: 0;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--color-of-head-menu);
}
.about-company .text{
    margin-top: 8px;
}
.about-company>p{
    margin: 0;
    padding: 0;
}
/* what doing */
.wtat-doing{
    margin-top: 120px;
    text-align: center;
}

.wtat-doing>.text{
    margin: 0;
    padding: 0;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--color-of-head-menu);
}
.works{
    display: flex;
    margin: auto;
    margin-top: 72px;
    padding: 0;
    width: 1128px;
    list-style: none;
}
.works .foto+.foto{
    margin-left: 24px;
}

/* team of company */
.team h2{
    padding: 0;
    margin: 0;
}
.worker{
    margin: 0;
    padding: 0;
}
.team h3,.team p{
    margin: 0;
    padding: 0;
}
.team{
    background-color: var(--color-hover-focus-btn-footer);
    margin-top: 120px;
    
}
.team h2{
    padding-top: 120px;
    text-align: center;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--color-of-head-menu);
}
.team  .worker{
    display: flex;
    margin: auto;
    margin-top: 72px;
    padding: 0;
    width: 1128px;
    list-style: none;
    
}
.worker .foto{
    display: block;
    width: calc((100%-72px)/4);
    text-align: center;
    margin-bottom: 120px;
    background:transparency ;
    box-shadow: 0px 1px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 1px 1px;
}
.foto .description{
    margin-top: 32px;
    
}
.foto p{
    margin-top: 8px;
}
.foto .content{
    margin-bottom: 32px;
}

/* footer */
.footer-main{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--color-of-head-menu);
    color: var(--color-footer-paragraf);
}
.logo-footer{
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--footer-logo);
    text-decoration:none;
    text-transform: uppercase;
}
.logo-footer:hover,.footer-web:focus{
    color: var(--link-btn-bc-hover-focus);
    text-decoration:none;
}
.container-block{
    width: 264px;
    margin-left: 156px; 
}
/* paga2 btn-menu */
.btn-menu{
    font-family: var(--logo-font);
    cursor: pointer;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-transform: capitalize;
color: var(--logo-color);
background-color: var(--btn-color-menu);
border: 1px solid #E7E9FC;
border-radius: 4px;
}
.btn-menu:hover{
    background-color: var(--link-btn-bc-hover-focus);
    color: var(--btn-color-menu);
}

.header-portfolio h3{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--color-of-head-menu);
letter-spacing: 0.02em;
text-transform: capitalize;

}
.header-portfolio p{
    color: var(--color-of-contact-paragraf);
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.02em;
text-transform: capitalize;
justify-content: space-between;
}
